* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; /* Ensure the background is black */
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.grid-container {
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 20px;  /* Adjust the size of each grid cell */
  height: 20px;
  border: 1px solid black; /* Makes the grid lines distinct */
}
/* App.css */
.flex {
  display: flex;
}
